<a href="https://colab.research.google.com/github/AFIII11/Python_Control_Statement/blob/main/FOR_LOOP.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
for i in range(0,10):
  print(i)

0
1
2
3
4
5
6
7
8
9

In [ ]:
for i in range(0,11):
  print(i)

0
1
2
3
4
5
6
7
8
9
10

In [ ]:
sum=0#finding the sum of n elements
for i in range(0,10):
  print(i)
  sum=sum+i
print("sum is",sum)

0
1
2
3
4
5
6
7
8
9
sum is 45

In [ ]:
fact=1

n=int(input("enter your limit"))# factorial
for i in range(1,n+1):
  print(i)
  fact=fact*i
print("factorial of a given number is ",fact)

enter your limit4
1
2
3
4
factorial of a given number is  24

In [ ]:
n=int(input("enter your limit"))# finding even number
for i in range(1,n+1):
  if(i%2==0):
    print(i)

enter your limit10
2
4
6
8
10

In [ ]:
n=int(input("enter your limit"))# finding odd number
for i in range(1,n+1):
  if(i%2!=0):
    print(i)

enter your limit6
1
3
5

In [ ]:
n=int(input("enter a number"))
if(n%5==0):
  print("ys")
else:
  print("no")

enter a number4
no

In [ ]:
sum=0
for i in range(1,101):
  if(i%9==0):
    print(i)
    sum=sum+i
print("sum is ",sum)

9
18
27
36
45
54
63
72
81
90
99
sum is  594

In [ ]:
li=[1,2,3,4,5]
for i in li:
  print(i)

1
2
3
4
5

In [ ]:
n=int(input("enter your value"))
m=int(input("enter the limit"))
for i in range(1,m+1):
  s=n*i
  print(s)

enter your value5
enter the limit10
5
10
15
20
25
30
35
40
45
50

In [ ]:
a=0
b=1
n=int(input("enter the limit"))#finding fibnocci
print("fibnocci series is")
print(a)
print(b)
for i in range(1,n-1):
  c=a+b
  print(c)
  a=b
  b=c

enter the limit5
fibnocci series is
0
1
1
2
3

In [ ]:
for i in range(10,0,-1):#reverse
  print(i)

10
9
8
7
6
5
4
3
2
1

In [ ]:
for i in  range(1,10,2):
  print(i)

1
3
5
7
9

In [ ]:
li=[]
l=int(input("enter the limit:"))
for i in range(1,l+1):
  n=int(input("enter the element:"))
  li.append(n)
print(li)
sum=0
for i in li:
  sum=sum+i
print("sum:",sum)

enter the limit:7
enter the element:1
enter the element:2
enter the element:3
enter the element:4
enter the element:5
enter the element:6
enter the element:7
[1, 2, 3, 4, 5, 6, 7]
sum: 28

In [ ]:
a=int(input("enter a number"))
c=str(a)
d=len(c)
sum=0
temp=a
for i in range(0,d):
  b=temp%10
  sum+=b**d
  temp//=10
if a == sum:
   print(a,"is an Armstrong number")
else:
   print(a,"is not an Armstrong number")

enter a number153
153 is an Armstrong number